/* external styling */

/*type selector*/
h1	{color: green !important;
	text-align: center; 
	font-size: 2rem;}

/*universal selector*/
* {font-family: "Courier New", monospace; font-size: 20px}

/*ID selector*/
/* letter spacing is spacing between letters */
#zuitt-motto {letter-spacing: 5px;}

/* class selector */
/* text transform changes font to a certain case */
.offering-item {text-transform: uppercase;}

/* attribute selector */
/* border width is responsible for border's thickness */
[required] {border-width:2px; 
			border-style: solid; 
			border-color: navy;
			width: 90%}

/*h3 {letter-spacing: 25px;}*/

/* Selector Combinators */

/* Adjacent sibling */

 #zuitt-motto + img { 
 	height:300px; 
 	border-width: 300px; 
 	border-radius: 150px;}

/* Child sibling */
body > section > #bootcamp-learning-list > li {
	color: #231F1F;}

/* General Sibling */

h2 ~ a 
 {text-decoration: none;}

/* Descendant Sibling */

#register label 
	{color: rgb(0, 0, 128);}

body 
	{background: skyblue;}

html 
	{scroll-behavior: smooth;}

nav 
	{background-color: white;}

a:hover 
	{background-color: #b46de;}

div 
	{display: inline-block;
	float: right;}

section 
	{height: 100vh;
	text-align: center;}
h2 
	{font-size: 1.5rem;}

ol 
	{list-style-type: none;}
h2 + form 
	{text-align: center;
	background-color: white;
	position: relative;
	width: 25vw;
	height: 185px;
	border: 2px solid black;
	left: 37.5%;}
button
		{background-color:#cf0053;
		color: white;
		border: 0;
		border-radius: 15px;}