#external 
	{color: yellow;}
* {font-family: Times New Roman;
	font-size: 20px}
h1 
	{font-size: 2rem}
#learnings 
	{text-transform: uppercase;}
.offer 
	{background: #7EA45E;}
[value]
	{border-style: solid;
	border-color: navy;}
img + #MERN
	{list-style-type: none;}
#image img	
	{height:300px; 
 	border-width: 300px; 
 	border-radius: 150px;}

 #MERN > li 
 	{letter-spacing: 5px}

h2 ~ #webdev
	{text-align: center;}